/*
 * kokonut.no - v.1.0
 * Author: Knut Karlsen (knut@kokonut.no)
 * Last updated: 03/03.13
 */

html,body,div,span,applet,object,iframe,hr,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:none;}
table{border-collapse:collapse;border-spacing:0;}


/** General setup
 ******************************/
body {
  background: #282828 url(../images/bg-overlay.png) repeat;
  font: normal 16px/22px "Georgia Pro", georgia, serif;
  color: #ffffff;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

a {
  color: #70b406;
  text-decoration: none;
  -webkit-transition: color 0.5s;
     -moz-transition: color 0.5s;
       -o-transition: color 0.5s;
          transition: color 0.5s;
}

a.external {
  padding-right: 20px;
  background: url(../images/icon-external.png) center right no-repeat;
}

a:hover {
  color: #a6d360;
}

p {
  margin-bottom: 1em;
  color: #eeeeee;
  font-size: inherit;
}

i {
  font-style: italic;
}

b {
  font-weight: bold;
}

img {
  width: 100%;
  height: auto;
  display: block;
}


/** Clearfix
 ******************************/
.group {
  zoom: 1;
}

.group:before,
.group:after {
  content: ' ';
  display: table;
}

.group:after {
  clear: both;
}


/** Horisontal rules
 ******************************/
hr {
  border: none;
  overflow: hidden;
}

hr.separator {
  position: relative;
  max-width: 650px;
  height: 6px;
  margin: 0 auto 50px auto;
  z-index: 3;
  background: url(../images/hr-line.png) center left repeat-x; 
}

hr.separator:before,
hr.separator:after {
  content: ' ';
  position: absolute;
  height: 6px;
  top: 0;
}

hr.separator:before {
  width: 6px;
  left: 0;
  z-index: 5;
  background: url(../images/hr-circle.png) center left no-repeat;
}

hr.separator:after {
  width: 300px;
  right: 0;
  z-index: 4;
  background: url(../images/hr-fade.png) center right no-repeat;
}

hr.separator.mirrored:before {
  width: 300px;
  left: 0;
  z-index: 4;
  background: url(../images/hr-fade-mirrored.png) center right no-repeat;
}

hr.separator.mirrored:after {
  width: 6px;
  right: 0;
  z-index: 5;
  background: url(../images/hr-circle.png) center left no-repeat;
}

hr.borderline {
  position: absolute;
  display: block;
  width: 100%;
  height: 20px;
  top: -20px;
  left: 0;
  overflow: hidden;
  background: url(../images/bg-overlay-arrow.png) top center no-repeat;
}

hr.borderline:before,
hr.borderline:after {
  content: ' ';
  position: absolute;
  display: table-cell;
  width: 50%;
  height: 19px;
  border-top: 1px solid #3b3b3b;
  background: #282828 url(../images/bg-overlay.png) repeat;
}

hr.borderline:before {
  left: -32px;
}

hr.borderline:after {
  right: -32px;
}


/** Icons
 ******************************/
.icon-telephone,
.icon-email {
  display: inline-block;
  line-height: 24px;
  background-position: center left;
  background-repeat: no-repeat;
}

.icon-telephone {
  padding-left: 20px;
  background-image: url(../images/icon-mobile.png);
}

.icon-email {
  padding-left: 32px;
  background-image: url(../images/icon-mail.png);
}

.icon-gallery,
.icon-external,
.icon-zoom,
.icon-article,
.icon-more,
.icon-top {
  padding-left: 24px;
  background-position: center left;
  background-repeat: no-repeat;
}

.icon-gallery {
  background-image: url(../images/icon-gallery.png);
}

.icon-zoom {
  background-image: url(../images/icon-zoom.png);
}

.icon-external {
  background-image: url(../images/icon-external.png);
}

.icon-article {
  background-image: url(../images/icon-article.png);
}

.icon-more {
  background-image: url(../images/icon-more.png);
}

.icon-top {
  background-image: url(../images/icon-top.png);
}


/** Section: header
 ******************************/
header {
  padding-bottom: 100px;
  background: #111111 url(../images/bg.png) repeat;
  background-attachment: fixed;
  -webkit-transition: padding 0.5s;
     -moz-transition: padding 0.5s;
       -o-transition: padding 0.5s;
          transition: padding 0.5s;
}

.index header {
  padding: 0;
}

header hgroup {
  padding: 40px 0;
  -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
       -o-transition: all 0.5s;
          transition: all 0.5s;
}

h1,
h2 {
  display: block;
  background-repeat: no-repeat;
  background-position: top center;
  text-indent: -9999px;
}

h1 {
  height: 47px;
  margin-bottom: 15px;
  background-image: url(../images/logo-primary.png);
  -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
       -o-transition: all 0.5s;
          transition: all 0.5s;
}

h1 a {
  display: block;
  max-width: 392px;
  height: inherit;
  margin: 0 auto;
}

h2 {
  height: 8px;
  background-image: url(../images/logo-secondary.png);
}

.contact {
  display: table;
  margin-bottom: 25px;
}

.contact .avatar,
.contact .options {
  display: table-cell;
  vertical-align: middle;
}

.contact .avatar li,
.contact .options li {
  padding: 5px 0;
}

.contact .avatar {
  width: 150px;
  min-width: 100px;
  max-width: 150px;
  padding-right: 18px;
  -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
       -o-transition: all 0.5s;
          transition: all 0.5s;
}

.about {
  display: none;
  padding: 0 20px 100px;
  font-size: 0.95em;
  -webkit-transition: padding 0.5s;
     -moz-transition: padding 0.5s;
       -o-transition: padding 0.5s;
          transition: padding 0.5s;
}

.index .about {
  display: block;
}

.about .contact {
  margin: 0 auto 1.5em auto;
}

.about p {
  max-width: 350px;
  margin: 0 auto 1em auto;
  color: #999999;
}


/** Section: article
 ******************************/
.article {
  position: relative;
  padding: 0 20px;
  z-index: 5;
  border-top: 1px solid #3b3b3b;
}

.article article {
  position: relative;
  max-width: 650px;
  margin: 0 auto;
}

.article article .polaroid.top figure {
  margin: -90px 0 0;
  -webkit-transition: margin 0.5s;
     -moz-transition: margin 0.5s;
       -o-transition: margin 0.5s;
          transition: margin 0.5s;
}

.article article .polaroid.top figure:hover {
  border-color: #ffffff;
}

.article article .polaroid figure {
  margin-bottom: 50px;
  -webkit-transform: rotate(0);
     -moz-transform: rotate(0);
      -ms-transform: rotate(0);
       -o-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: border 0.5s;
     -moz-transition: border 0.5s;
       -o-transition: border 0.5s;
          transition: border 0.5s;
}

.article article .polaroid:hover figure {
  opacity: 1;
  border-color: #999999;
}

.article article h1 {
  height: auto;
  margin: 0.4em 0 0.4em;
  background: none;
  font-size: 2.5em;
  color: #eeeeee;
  line-height: 1em;
  text-indent: 0;
  text-shadow: #111111 1px 1px 0;
}

.article article .intro {
  margin-bottom: 1.4em;
  font-size: 1.2em;
  line-height: 1.4em;
}

.article article p {
  margin-bottom: 1.4em;
  font-size: 0.95em;
  line-height: 1.4em;
}

.gallery:before, 
.gallery:after {
    content:' ';
    display:table;
}

.gallery:after {
    clear:both;
}

.gallery {
  zoom:1;
}

.gallery .polaroid {
  float:left;
  width:48%;
  margin-right:4%;
  margin-bottom:4%;
}

.gallery .polaroid:nth-child(even) {
  margin-right:0;
}

.article article .gallery .polaroid figure {
  margin-bottom:0;
}


/** Section: portfolio
 ******************************/
h3 {
  margin-bottom: 0.5em;
  font-size: 1.8em;
  color: #eeeeee;
  line-height: 1.2em;
  text-shadow: #111111 1px 1px 0;
}

h3 a {
  color: inherit;
}

h3 a:hover {
  color: #70b406;
}

.portfolio {
  position: relative;
  padding: 25px 20px 0 20px;
  z-index: 5;
}

.portfolio article {
  position: relative;
  max-width: 650px;
  padding-bottom:50px;
  margin: 0 auto;
  zoom: 1;
}

.portfolio article:before,
.portfolio article:after {
  content: ' ';
  display: table;
}

.portfolio article:after {
  clear: both;
}

.portfolio article .polaroid {
  float: left;
  width: 55%;
}

.portfolio article .description {
  float: right;
  width: 45%;
}

.portfolio article h3,
.portfolio article p {
  padding-left: 25px;
}

.portfolio article p {
  font-size: 0.95em;
}

.portfolio article.mirrored .polaroid {
  float: right;
}

.portfolio article.mirrored .description {
  float: left;
}

.portfolio article.mirrored h3,
.portfolio article.mirrored p {
  padding-left: 0;
  padding-right: 25px;
}

.portfolio article.mirrored .polaroid figure {
  -webkit-transform: rotate(1deg);
     -moz-transform: rotate(1deg);
      -ms-transform: rotate(1deg);
       -o-transform: rotate(1deg);
          transform: rotate(1deg);
}

.polaroid {
  position: relative;
}

.polaroid figure {
  display: block;
  position: relative;
  overflow: hidden;
  border: 5px solid #ffffff;
  background: #ffffff;
  -webkit-box-shadow: 0 2px 3px 0 #111111;
     -moz-box-shadow: 0 2px 3px 0 #111111;
          box-shadow: 0 2px 3px 0 #111111;
  -webkit-transform: rotate(-1deg);
     -moz-transform: rotate(-1deg);
      -ms-transform: rotate(-1deg);
       -o-transform: rotate(-1deg);
          transform: rotate(-1deg);
  -webkit-transition: opacity 0.5s;
     -moz-transition: opacity 0.5s;
       -o-transition: opacity 0.5s;
          transition: opacity 0.5s;
  
}

.polaroid figcaption {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 15px 0;
  background: url(../images/black-transparent.png) top left repeat;
  color: #eeeeee;
  text-align: center;
  pointer-events: none;
}

.polaroid .option {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  text-align: center;
  cursor: pointer;
}

.polaroid i {
  display: inline-block;
  position: relative;
  top: 0;
  margin-top: 16%;
  opacity: 0;
  border-top: 10px solid #ffffff;
  border-bottom: 10px solid #ffffff;
  border-left: 12px solid #ffffff;
  border-right: 12px solid #ffffff;
  background-color: #ffffff;
  color: #111111;
  text-align: left;
  cursor: pointer;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
       -o-transition: all 0.5s;
          transition: all 0.5s;
}

.polaroid:hover figure {
  opacity: .5;
}

.polaroid:hover i {
  margin-top: 26%;
  opacity: 1;
}


/** Section: footer
 ******************************/
footer {
  padding: 0 20px 0 20px;
  margin-top: 50px;
}

footer p {
  max-width: 650px;
  padding: 10px 0 40px;
  margin: 0 auto;
  border-top: 1px solid #333333;
  font-size: .8em;
  color: #999999;
}

footer .icon-top {
  float: right;
  width: 30px;
  height: 24px;
  padding: 0;
  opacity: .5;
  background-image: url(../images/icon-top.png);
  background-position: center right;
  background-repeat: no-repeat;
  text-indent: -9999px;
  cursor: pointer;
  -webkit-transition: opacity 0.5s;
     -moz-transition: opacity 0.5s;
       -o-transition: opacity 0.5s;
          transition: opacity 0.5s;
}

footer .icon-top:hover {
  opacity: 1;
}


/** Lightbox
 ******************************/
#jquery-overlay {
  position: fixed;
  width: 100%;
  height: 500px;
  top: 0;
  left: 0;
  z-index: 90;
}

#jquery-lightbox {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  line-height: 0;
  text-align: center;
}

#lightbox-container-image-box {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  background: #fff;
}

#lightbox-container-image-box #lightbox-container-image {
  padding: 10px;
}

#lightbox-container-image-box #lightbox-loading {
  position: absolute;
  width: 100%;
  height: 25%;
  top: 40%;
  left: 0%;
  line-height: 0;
  text-align: center;
}

#lightbox-container-image-box #lightbox-loading img {
  width: 24px;
  height: 24px;
  margin: 0 auto;
}

#lightbox-container-image-data-box {
  padding: 0 10px;
  margin: 0 auto 50px auto;
  border-top: 1px solid #282828;
  background: #bc2626;
}

#lightbox-container-image-data-box #lightbox-secNav-btnClose {
  display: block;
  padding: 8px 0 10px;
}

#lightbox-container-image-data-box img {
  width: 95px;
  height: 15px;
  margin: 0 auto;
  opacity: .8;
  -webkit-transition: opacity 0.5s;
     -moz-transition: opacity 0.5s;
       -o-transition: opacity 0.5s;
          transition: opacity 0.5s;
}

#lightbox-container-image-data-box:hover img {
  opacity: 1;
}

#lightbox-nav,
#lightbox-nav-btnPrev,
#lightbox-nav-btnNext,
#lightbox-image-details,
#lightbox-image-details-caption,
#lightbox-image-details-currentNumber {
  display: none;
}


/** Internet Explorer
 ******************************/
.ie .option {
  background: url(../images/blank.gif) repeat;
}

.ie8 .about {
  padding-bottom:50px;
}

.ie8 .polaroid i {
  filter: alpha(opacity=0);
}

.ie8 .polaroid:hover figure,
.ie8 footer .icon-top {
  filter: alpha(opacity=50);
}

.ie8 .polaroid:hover i,
.ie8 footer .icon-top:hover,
.ie8 .article article .polaroid figure:hover {
  filter: alpha(opacity=100);
}

.ie8 hr.borderline {
  height: 1px;
  top: -1px;
  background: #3b3b3b;
}

.ie8 .gallery .polaroid {
  width:46%;
}


/** Mobile devices
 ******************************/
@media all and (max-width: 550px) {
  header {
    padding-bottom:50px;
  }
  
  header hgroup {
    padding-top: 20px;
  }

  h1 {
    height:36px;
    background-position: bottom center;
  }

.contact .avatar {
  width: 100px;
}
  
  footer .icon-top {
    width: 50px;
  }
  
  .about {
    padding-bottom: 45px;
  }
  
  .portfolio article {
    padding-bottom: 30px;
  }
  
  .portfolio article .polaroid,
  .portfolio article .description {
    width: 100%;
  }

  .portfolio article h3,
  .portfolio article p {
    padding-left: 0;
  }
  
  .portfolio article h3 {
    margin-top: 0.5em;
    margin-bottom: 0.3em;
  }
  
  .portfolio article p {
    max-width: 550px;
  }
  
  .portfolio article .polaroid figure {
    -webkit-transform: rotate(0);
       -moz-transform: rotate(0);
        -ms-transform: rotate(0);
         -o-transform: rotate(0);
            transform: rotate(0);
  }
  
  .portfolio article.mirrored h3,
  .portfolio article.mirrored p {
    padding-left: 0;
    padding-right: 0;
  }
  
  .portfolio article.mirrored .polaroid figure {
    -webkit-transform: rotate(0);
       -moz-transform: rotate(0);
        -ms-transform: rotate(0);
         -o-transform: rotate(0);
            transform: rotate(0);
  }
  
  .polaroid:hover figure {
    opacity: 1;
  }
  
  .polaroid:hover i {
    opacity: 0;
  }
  
  .article article .polaroid.top figure {
    margin: -50px 0 0;
  }
  
  .gallery .polaroid {
    float:none;
    width:100%;
    margin-right:0;
    margin-bottom:30px;
  }
}


/** Retina
 ******************************/
@media all and (-webkit-min-device-pixel-ratio: 2) {
  header {
    background-image: url(../images/bg-x2.png) repeat;
  }

  h1 {
    height: 47px;
  }
  
  .icon-telephone {
    background-image: url(../images/icon-mobile-x2.png);
    background-size: 14px 24px;
  }
  
  .icon-email {
    background-image: url(../images/icon-mail-x2.png);
    background-size: 24px 17px;
  }
  
  .icon-top,
  footer .icon-top {
    background-image: url(../images/icon-top-x2.png);
    background-size: 16px 16px;
  }
  
  h1 {
    background-image: url(../images/logo-primary-x2.png);
    background-size:auto 47px;
  }
  
  h2 {
    background-image: url(../images/logo-secondary-x2.png);
    background-size:auto 8px;
  }
  
  hr.borderline {
    background-image: url(../images/bg-overlay-arrow-x2.png);
    background-size: 74px 20px;
  }
  
  hr.separator {
    background-image: url(../images/hr-line-x2.png);
    background-size:auto 6px;
  }
  
  hr.separator:before {
    background-image: url(../images/hr-circle-x2.png);
    background-size:6px 6px;
  }
  
  hr.separator:after {
    background-image: url(../images/hr-fade-x2.png);
    background-size:300px 6px;
  }
  
  hr.separator.mirrored:before {
    background-image: url(../images/hr-fade-mirrored-x2.png);
    background-size:300px 6px;
  }
  
  hr.separator.mirrored:after {
    background-image: url(../images/hr-circle-x2.png);
    background-size:6px 6px;
  }
}

@media all and (max-width: 450px) and (-webkit-min-device-pixel-ratio: 2) {
  h1 {
    height:36px;
    background-image: url(../images/logo-primary-small-x2.png);
    background-size:auto 36px;
  }
}